@charset "UTF-8";
/*mixin*/
/*mixin sizes*/
/*variable para fiestas condicionales*/
/*extends*/
.botones-generales, .boton, .card-muestra {
  padding: 1rem;
  margin-bottom: 5rem;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  background-image: linear-gradient(to left, rgb(121, 8, 8), rgb(3, 32, 3));
}

.nav-item:first-of-type {
  background-color: rgb(252, 212, 225);
}

footer {
  color: rgb(230, 230, 174);
}

@media screen and (max-width: 768px) {
  body {
    background-color: rgb(211, 100, 118);
  }
}
@media screen and (max-width: 460px) {
  body {
    background-color: rgb(104, 61, 68);
  }
}
header {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*condicionales*/
  background-image: url(../img/navidad.webp);
  height: 50rem;
}

@media screen and (max-width: 768px) {
  header {
    background-image: url(../img/navidadmediana.jpeg);
  }
}
@media screen and (max-width: 460px) {
  header {
    background-image: url(../img/navidadpequeña.jpeg);
  }
}
/* Parte del Index desktop  */
* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  color: blanchedalmond;
  display: flex;
  justify-content: center;
}

h1 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

h2 {
  color: rgb(235, 229, 230);
}

h3 {
  color: rgb(240, 239, 239);
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video-escuela {
  width: 800px;
  height: 600px;
}

.grid div {
  border: solid 2px rgb(245, 245, 245);
}

.item2 {
  background-image: linear-gradient(to right, grey, rgb(226, 96, 117));
}

.item3 {
  background-image: linear-gradient(to right, grey, rgb(226, 96, 117));
}

/*Inicio para dispositivos medianos */
@media screen and (max-width: 768px) {
  .video-escuela {
    width: 400px;
    height: 300px;
  }
}
/*Inicio dispositivos pequeños*/
@media screen and (max-width: 460px) {
  .video-escuela {
    width: 350px;
    height: 300px;
  }
}
/*empieza docentes*/
.docentes {
  display: grid;
  grid-template-columns: 4, 1fr;
  grid-template-rows: 4, 1fr;
  grid-template-areas: "1 2";
  border: solid 2px blanchedalmond;
  border: solid 2px rgb(245, 245, 245);
}

h1 {
  color: blanchedalmond;
}

.foto-profe {
  width: 12rem;
  height: 12rem;
}

/*Docentes Media query dispositivos pequeños*/
@media screen and (max-width: 460px) {
  .docentes {
    display: flex;
    flex-direction: column;
  }
}
/*empieza clases*/
table {
  color: antiquewhite;
}

#lista-desordenada {
  color: aliceblue;
  margin-bottom: 100px;
  font-weight: bold;
}

ol {
  color: aliceblue;
}

.container-table {
  border: solid 1px blanchedalmond;
  width: 622px;
  height: 1380px;
}

.container-table {
  background-image: linear-gradient(to right, rgb(39, 38, 38), rgb(226, 96, 117));
}

/*clases para media query pequeños*/
@media screen and (max-width: 460px) {
  .foto-clase {
    width: 300px;
  }
  .container-table {
    border: solid 1px blanchedalmond;
    width: 25rem;
    height: 89rem;
  }
}
/*acá empieza Muestras */
.grilla {
  display: grid;
}

.Item5 {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, grey, rgb(226, 96, 117));
}

.galeria {
  /*puedo hacer algo con grid en galeria*/
  display: flex;
  flex-direction: column;
  width: 536px;
  height: 363px;
}

/* media querie para dispositivos moviles medianos muestras*/
@media screen and (max-width: 768px) {
  .galeria {
    width: 348px;
  }
}
/*media querie para dispositivos pequeños muestras  */
/*tienda*/
@media screen and (max-width: 460px) {
  .tienda {
    width: 318px;
    height: 2000px;
    margin-top: 10px;
  }
  .card-muestra {
    width: 272px;
    height: 661px;
    padding: 1rem;
    margin-bottom: 5rem;
  }
  .caja-tienda {
    width: 318px;
    height: 2420px;
  }
  .galeria {
    width: 105px;
    height: 106px;
  }
  .card-foto {
    width: 50px;
    height: 50px;
  }
}
/*Acá empieza contactos*/
.carousel-inner {
  width: 65%;
}

.caja-mala {
  border: solid 0.2rem pink;
  padding: 4rem;
  display: inline-block;
  font-size: 1.6rem;
  width: 1rem;
  height: 1rem;
  font-family: arial;
  overflow: visible;
  background-image: linear-gradient(to left, grey, rgb(226, 96, 117));
}

.card {
  border: solid 1rem pink;
  width: 20rem;
  padding: 2rem;
  position: relative;
}

.caja-flex {
  display: flex;
}

.adulg {
  border: solid 1rem pink;
  width: 20rem;
  padding: 2rem;
  position: relative;
}

div {
  margin-top: 50px;
  color: antiquewhite;
  font-weight: bolder;
}

.card_parrafo {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: rgb(82, 82, 82);
}

.card_parrafo--grande {
  color: rgb(82, 82, 82);
}

.card_image {
  width: 20rem;
  height: 20rem;
}

.mapa {
  margin-top: 2rem;
}

footer {
  color: antiquewhite;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor-opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-labels {
  display: flex;
  gap: 30px;
}

.boton-comunicacion {
  background-color: rgb(224, 104, 124);
  color: rgb(59, 58, 58);
  font-weight: bold;
  padding: 5px 15px;
}

/* media querie para dispositivos moviles medianos contacto*/
@media screen and (max-width: 768px) {
  .caja-flex {
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 2, 1fr;
    grid-template-areas: "card1 card2" "card 3 card 4";
  }
  .card {
    width: 346px;
  }
  .card_image {
    width: 11rem;
    height: 12rem;
  }
}
.card {
  width: 274px;
  height: 500px;
}

.card_image {
  height: 150px;
}

/*media querie para dispositivos pequeños contacto */
@media screen and (max-width: 460px) {
  .carousel-inner {
    width: 79%;
  }
  .caja-flex {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 20rem;
    height: 33rem;
    padding: 2rem;
  }
  .card_image {
    width: 400px;
    height: 283px;
  }
}
.mapa {
  width: 352px;
}

/*# sourceMappingURL=styles.css.map */
