body {
    background-color:rgba(23, 21, 21, 0.875);
    }
    
footer {
    color:$p-color
}    



@media screen and (max-width:$pantalla-mediana) {
    body {
   background-color:rgb(211, 100, 118) ;
    }
 }


@media screen and (max-width :$pantalla-celular) 
{
    body {
   background-color:rgb(104, 61, 68) ;
    }
 }  