*
{
    margin: 0;
    padding:0,
}
img {
    max-width:100% ; 
}

body {
    background-color:$bg-body;
    }

.nav-item:first-of-type {
    background-color:rgb(252, 212, 225);
    }
    
footer {
    color:$p-color
}    



@media screen and (max-width:$pantalla-mediana) {
    body {
   background-color:rgb(211, 100, 118) ;
    }
 }


@media screen and (max-width:$pantalla-mobile) 
{
    body {
   background-color:rgb(104, 61, 68) ;
    }
 }  