* {
    margin: 0;
    padding: 0,
}

img {
    max-width: 100%;
}

body {
    @if $fiesta==pascuas {
        background-color: gold;

    }

    @else if $fiesta==padre {
        background-color: blue;
    }

    @else if $fiesta==navidad {
        background-image: linear-gradient(to left, rgb(121, 8, 8), rgb(3, 32, 3));
    }

    @else {
        background-color: grey;

    }
}

.nav-item:first-of-type {
    background-color: rgb(252, 212, 225);
}

footer {
    color: $p-color
}



@media screen and (max-width:$pantalla-mediana) {
    body {
        background-color: rgb(211, 100, 118);
    }
}


@media screen and (max-width:$pantalla-mobile) {
    body {
        background-color: rgb(104, 61, 68);
    }
}