/*Acá empieza contactos*/
.carousel-inner {
  width: 65%;

}


.caja-mala {
  @include border (solid,0.20rem,pink ) ;
   
    padding:4rem;
    display:inline-block;
    font-size:1.6rem ;
    width:1rem ;
    height:1rem;
    font-family:arial;
    overflow:visible;
    background-image:linear-gradient(to left ,grey, rgb(226, 96, 117)) ;
  }
  .card {
    @include border  (solid,1rem,pink );
    
    width:20rem ;
    padding:2rem;
    position:relative;
     
  }
  
  .caja-flex {
    display: flex;
  }
  
  .adulg {
    @include border ( solid ,1rem,pink);
    
    width:20rem ;
    padding:2rem;
    position:relative;
  
  }
  
  
  
  div {
  
    margin-top:50px ;
    color:antiquewhite;
    font-weight:bolder;
  }
  
  
  .card_parrafo {
    font-size:1rem;
    margin-bottom:2rem ;
    color: rgb(82, 82, 82);
    
  }

  .card_parrafo--grande {
    color: rgb(82, 82, 82);
  }
  
  
  .card_image {

    @include sizes (20rem,20rem) ;
   
  }
  .boton {
    @extend.botones-generales
  }
  
  .mapa {
    margin-top:2rem;
  
  }
  
  
  footer {
    color:antiquewhite;
  }
  
  
  
  form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
    
  } 
  
  
.contenedor-opciones 
{
 @include flex-column;
  align-items: center;
}
.contenedor-labels {
  display:flex;
  gap:30px;
}

.boton-comunicacion {
  background-color:rgb(224, 104, 124) ;
  color:rgb(59, 58, 58);
  font-weight:bold;
  padding: 5px 15px;
 }
  
  
    
  
  
  
  /* media querie para dispositivos moviles medianos contacto*/
  
  
 
  @media screen and (max-width:$pantalla-mediana) 

{
   .caja-flex {
    display: grid;
    grid-template-columns:4,1fr ;
    grid-template-rows: 2,1fr;
    grid-template-areas:
    "card1 card2" 
    "card 3 card 4" ;
   }
  .card {
  
   width:346px;

  }
  .card_image {
    @include sizes (11rem,12rem) ;
    
  }
  
}
    .card {

      @include sizes (274px,500px) ;
    
     
  
    }
    .card_image {
      height: 150px;
    }
    
  
  
  /*media querie para dispositivos pequeños contacto */
  
  @media screen and (max-width:$pantalla-mobile) 
  {
    .carousel-inner {
      width: 79%;
    
    }

    .caja-flex {
    @include flex-column;
    }
    .card {
   
      @include sizes (20rem,33rem );
      
      padding: 2rem;
      
  
    }
  
    .card_image {
      @include sizes (400px,283px); 
     }
    }
    .mapa {
    width: 352px;
    }
  