/*acá empieza Muestras */

.grilla {
  display: grid;

}





.Item5 {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, grey, rgb(226, 96, 117));
}

.galeria {
  /*puedo hacer algo con grid en galeria*/
  @include flex-column;


  width: 536px;
  height: 363px;
}

.card-muestra {
  @extend.botones-generales;

}

/* media querie para dispositivos moviles medianos muestras*/

@media screen and (max-width :$pantalla-mediana) {
  .galeria {

    width: 348px;


  }



}




/*media querie para dispositivos pequeños muestras  */

/*tienda*/
@media screen and (max-width: $pantalla-mobile) {


  .tienda {

    @include sizes (318px, 2000px);

    margin-top: 10px;

  }

  .card-muestra {
    @include sizes (272px, 661px);

    padding: 1rem;
    margin-bottom: 5rem;

  }

  .caja-tienda {
    @include sizes (318px, 2420px);

  }



  .galeria {
    width: 105px;
    height: 106px;


  }


  .card-foto {
    width: 50px;
    height: 50px;
  }

}