$bg-body:rgba(23, 21, 21, 0.875);
$bg-header:url(../img/fondo.jpg);
$titulos-secundarios: "Roboto", sans-serif;
$bg-imagen:url(../img/fondo.jpg);
$h1-color:blanchedalmond;
$h2-color:rgb(235, 229, 230);
$h3-color:rgb(240, 239, 239);
$p-color:rgb(230, 230, 174);
$pantalla-pequena:460px;
$pantalla-mediana:768px;
$pantala-grande:auto;
$bg-item:linear-gradient(to right ,grey,rgb(226, 96, 117));
   /*mixin*/
   @mixin border {
  border:solid $px  blanchedalmond;
   }
 /*mixin sizes*/
@mixin sizes ($width,$height) {
    width:$width ;
    height:$height;
    
}  
    
  


